@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html
body {
  overflow-x: hidden !important;
  scroll-behavior: smooth;

}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none !important;
}

.main-home {
  background-color: #4062bb;
  background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
}


.custom-shape-divider-top-1714501332 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0deg);
}

@media screen and (min-width:1600px) {
  .custom-shape-divider-top-1714501332 {
    bottom: -10px;
  }
}
.custom-shape-divider-top-1714501332 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 148px;
}

.custom-shape-divider-top-1714501332 .shape-fill {
    fill: #FFFFFF;
}






.anim{
  animation: heroAnim 4s alternate-reverse infinite ease-in;
}
@keyframes heroAnim {
  0%{
    top: 0;
  }
  100% {
    top: 20%;
  }
}