.main-grid{
    display:  grid;
    grid-template-columns: 0.6fr 1.5fr 0.5fr 0.5fr 0.3fr;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    place-items: center;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}